/Africa_energy_analysis.ipynb
/africa_energy_rough.ipynb
/resources/UNdata_Energy_PowerPlant.csv
/resources/analysis_todo.txt
/resources/testing.ipynb
/resources/scrapping_data.ipynb

*.log
*.bak 
atlassian-ide-plugin.xml
.ipynb_checkpoints 

.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
